/*Sets the slider label position*/
.slider-label {
	position: fixed;
}
/*Sets the icon images*/
.ui-icon-statistics {
	background-image: url('images/16-line-chart.png');
}

/*Sets the axis settings*/
.axis path,.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

html,body {
	height: 100%;
}